@import "reset.scss";

/*********************************************
	基本の設定
**********************************************/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	width: 90%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
	background: #ccc;
}

footer {
	height: 30px;
	background: #ccc;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*********************************************
 	top page
**********************************************/
a {

}
